<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3">
                <a href="#" class="brand">
                    <img src="assets/images/logo2.png" alt="Knowledge">
                    <span class="circle"></span>
                </a>
            </div>
            <div class="col-lg-7 col-md-5 col-sm-9">
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="copyright">
                    <p>© 2016 knowledge Copyrights</p>
                </div>
            </div>
        </div>
    </div>
</footer>