<!DOCTYPE html>
<html>
<head>
    <title>Microbiota</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/main.min.css' />
</head>