<%- include('partials/head') %>
<body>
<header id="hero" class="hero overlay">
    <%- include('partials/navbar') %>
    <div class="masthead">

    </div>
</header>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</body>