<%- include('partials/head') %>
<body>
<header id="hero" class="hero overlay">
    <%- include('partials/navbar') %>
    <div class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h1>中国数字微生态领军者</h1>
                    <a class="btn btn-hero">了解更多</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="feature" class="feature bgc-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="icon">
                    <img src="/images/icon/icon1.png" alt="">
                </div>
                <h3>数据</h3>
                <p>数十万份样品数据</p>
            </div>
            <div class="col-sm-4 text-center">
                <div class="icon">
                    <img src="/images/icon/icon2.png" alt="">
                </div>
                <h3>计算</h3>
                <p>数万个计算节点</p>
            </div>
            <div class="col-sm-4 text-center">
                <div class="icon">
                    <img src="/images/icon/icon3.png" alt="">
                </div>
                <h3>解读</h3>
                <p>数万小时数据积累</p>
            </div>
        </div>
    </div>
</section>

<section class="eco">
    <div class="container">
        <div class="row intro">
            <div class="col-sm-6">
                <div class="intro-content">
                    <h2 class="intro-title">健康微生态</h2>
                    <p>健康微生态致力于通过人体微生物解决日益严峻的人类健康问题,其不仅关系到常见的感染病毒,还包括人体自身代谢健康</p>
                    <a href="#" class="intro-link"><i class="fa fa-arrow-right"></i>
                        了解更多关于健康微生态的产品
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="intro-image">
                    <img class="intro-img-1" src="/images/intro-1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row intro intro-2 row-reverse">
            <div class="col-sm-6">
                <div class="intro-content">
                    <h2 class="intro-title">营养微生态</h2>
                    <p>健康微生态致力于通过人体微生物解决日益严峻的人类健康问题,其不仅关系到常见的感染病毒,还包括人体自身代谢健康</p>
                    <a href="#" class="intro-link"><i class="fa fa-arrow-right"></i>
                        了解更多关于营养微生态的产品
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="intro-image">
                    <img class="intro-img-1" src="/images/intro-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row intro intro-2 row-reverse no-b-b">
            <div class="col-sm-6">
                <div class="intro-content">
                    <h2 class="intro-title">临床微生态</h2>
                    <p>健康微生态致力于通过人体微生物解决日益严峻的人类健康问题,其不仅关系到常见的感染病毒,还包括人体自身代谢健康</p>
                    <a href="#" class="intro-link"><i class="fa fa-arrow-right"></i>
                        了解更多关于临床微生态的产品
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="intro-image">
                    <img class="intro-img-1" src="/images/intro-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="support-section text-white section">
    <div class="container">
        <div class="row text-center">
            <div class="divider"><i class="fa fa-support"></i></div>
            <header class="text-center">
                <h2 class="section-title">探索微生态</h2>
                <p class="section-subtitle">让我们一起携手探索浩瀚无穷的微生物世界</p>
            </header>
            <a href="#" class="btn btn-success">
                立刻联系我们
            </a>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</body>